<h1>ジムを登録</h1>

<%= form_with model: @gym do |f| %>
  <% if @gym.errors.any? %>
    <ul>
      <% @gym.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, "ジム名" %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit "登録する" %>
<% end %>

<%= link_to "戻る", root_path %>
