<div class="card">
  <%= link_to "戻る", exercises_path, class: "back-link" %>
  <h1 class="page-title">種目を登録</h1>

  <%= form_with model: @exercise do |f| %>
    <% if @exercise.errors.any? %>
      <div class="flash flash--alert">
        <ul class="error-list">
          <% @exercise.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, "種目名" %>
      <%= f.text_field :name, placeholder: "例：インクラインベンチ" %>
    </div>

    <div class="form-group">
      <%= f.label :body_part, "部位" %>
      <%= f.select :body_part,
            [["胸", "胸"], ["背中", "背中"], ["脚", "脚"], ["肩", "肩"], ["腕", "腕"], ["腹", "腹"], ["その他", "その他"]],
            { include_blank: "選択してください" } %>
    </div>

    <div class="form-actions">
      <%= f.submit "登録する", class: "btn-primary" %>
    </div>
  <% end %>
</div>
